<div class="row">
  <div class="col-md-8">
    <h2>Detail contact</h2>
    <% if (!contact) {%>
    <div class="alert alert-danger" role="alert">
      Data contact tidak ada
      <a href="/contact" class="alert-link">< Kembali</a>.
    </div>
    <% } else { %>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title"><%= contact.nama %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %></h6>
        <p class="card-text"><%= contact.email %></p>
        <a href="/contact/edit/<%= contact._id %>" class="btn btn-sm btn-info"
          >EDIT</a
        >
        <form method="POST" action="/contact?_method=DELETE" class="d-inline">
          <input type="hidden" name="id" value="<%= contact._id %>" />
          <button
            class="btn btn-sm btn-danger"
            onclick="return confirm('Yakin?')"
            type="submit"
          >
            HAPUS
          </button>
        </form>
        <br />
        <a href="/contact" class="btn btn-sm btn-success mt-2">Kembali</a>
      </div>
    </div>
    <% } %>
  </div>
</div>
